body {
    background-color: white;
    display: grid;
    grid-column: 3fr 3fr 3fr;
}

header {
    padding: 50px;
}


h1 {
    color: black;
    background-color: white;
    text-align: center;
    font-family: monospace;
    font-weight: 14px;
    padding: 20px;
    padding-bottom: 20px;
}


section {
    text-align: center;
    font-family: monospace;
    padding: 10px;
    margin: auto;
}

article {
    margin: auto;
    margin-bottom: 100px;
    padding: 25px;
    background: linear-gradient(90deg, pink, rgb(165, 165, 218), grey);
    border-radius: 12px;
}


input {
    border-radius: 12px;
    background-color:rgb(255, 255, 255);
    color: green;
    padding: 20px;
}

.home {
    text-align: center;
}